:root {
  --profile-pic-outer-size: 160px;
  --profile-pic-img-size: 150px;
  --yellow: #fabe28;
  --gray-dark: #565656;
  --gray-light: #eeeeee;
  --common-text-light: #727272;
  --heading-title: #818181;
  --border-color: #cecece;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto";
  height: 100vh;
  margin: 0;
  padding: 0;
}
.resume-container {
  height: 100%;
  width: 100%;
}
.header-container {
  background-color: var(--gray-dark);
  height: 220px;
  padding-top: 20px;
}
.profile-pic-container {
  border: 3px dashed var(--yellow);
  border-radius: 50%;
  height: var(--profile-pic-outer-size);
  margin: auto;
  padding: 2px;
  position: relative;
  width: var(--profile-pic-outer-size);
}
.profile-pic {
  border-radius: 50%;
  height: var(--profile-pic-img-size);
  width: var(--profile-pic-img-size);
}
.profile-name {
  background-color: var(--yellow);
  border-radius: 3px;
  font-size: 5.5rem;
  font-weight: 400;
  height: 70px;
  left: calc(50% - 250px);
  letter-spacing: 1px;
  margin: auto;
  padding: 4px 0px;
  position: absolute;
  text-align: center;
  top: 115px;
  width: 500px;
  z-index: 1;
}
.gray-rect {
  background-color: var(--gray-light);
  height: 30px;
  position: relative;
  bottom: 20px;
}
.contact-container {
  border-bottom: 2px solid var(--border-color);
  padding: 10px 0px 5px 0px;
  text-align: center;
}
.contact-address {
  color: var(--common-text-light);
  font-size: 1.5rem;
  font-weight: 500;
}
.details-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 40px 0px 40px;
}
.left-section {
  border-right: 1px solid var(--border-color);
  padding-right: 30px;
  width: 50%;
  /* min-width: 500px; */
}
.right-section {
  border-left: 1px solid var(--border-color);
  padding-left: 30px;
  width: 50%;
}
.per-cen {
  align-items: center;
  display: flex;
  justify-content: center;
}
.detail-header {
  align-items: center;
  display: flex;
}
.detail-border-container {
  border: 3px dashed var(--yellow);
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
.detail-img-container {
  background-color: var(--gray-dark);
  border-radius: 50%;
  color: var(--yellow);
  font-size: 2rem;
  height: 50px;
  width: 50px;
}
.detail-title {
  color: var(--heading-title);
  font-size: 2.5rem;
  font-weight: 500;
  margin-left: 10px;
}
.detail-content,
ul {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3;
  text-align: justify;
}
.sub-title-container {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  margin-top: 15px;
}
.sub-title-container h4 {
  margin: 0 10px 0 0;
}
.sub-title-container p {
  margin: 0;
}
.margin-rem {
  margin: 0;
}
